.vbox_background_center {
    -fx-background-image:url("../images/bgcenter.jpg")
}

.vbox_background_right {
    -fx-background-image: url("../images/bgright.jpg");
}

.pane_left {
    -fx-border-radius: 0 20 0 0;
    -fx-background-radius: 0 20 20 0;
}

.sidebar_button {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
}
.sidebar_button:hover {
    -fx-background-color: #0a433a;

}
/*.sidebar_button:pressed {
    -fx-background-color: #0a433a !important;
}*/

.button-all {
    -fx-background-color: #ed6637;
    -fx-background-radius: 15px;
}
.button-all:hover{
    -fx-background-color: #eb5d2d;
}

.active-button {
    -fx-background-color: #0d594d;

}

.icon {
    -fx-fill: white;
    -fx-font-size: 15px;
}

.linear-gradient-pane {
    -fx-background-radius: 10;
   -fx-background-color: #a4aadb; /* Base background color */
    -fx-transition: background-color 0.3s; /* Smooth transition */
}
.linear-gradient-pane2 {
    -fx-background-radius: 10;
   -fx-background-color: #ff8c66; /* Base background color */
    -fx-transition: background-color 0.3s; /* Smooth transition */
}

.linear-gradient-pane:hover {
    -fx-background-color:  #ff794d;
}





.date-picker-popup > .button {
    visibility: hidden;
    -fx-background-color: black;
}

.store-item {
    -fx-background-color: #F9F9F9;
    -fx-background-radius: 10;
    -fx-padding: 20;
    -fx-spacing: 10;
}

.store-item:hover {
    -fx-background-color: #E0E0E0;
}

.store-name-label {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.store-location-label {
    -fx-font-size: 14;
    -fx-text-fill: #666666;
}

.choose-button {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-padding: 10 20;
    -fx-font-size: 14;
}

.choose-button:hover {
    -fx-background-color: #1565C0;
}





